.product-details-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 0 24px;
  padding-bottom: 24px;
  gap: 24px;
  padding-top: 250px;
  margin-bottom: 64px;
}

.product-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  align-items: start;
  gap: 24px;
  min-height: 600px;
  will-change: height;
  transition: height 0.3s ease;
}

/* Product Details Title */
.product-details-title {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 64px;
  order: 1;
}

.product-details-title h1 {
  font-family: "futura";
  font-weight: 500;
  text-transform: uppercase;
  font-size: 48px;
}

/* Product Image */
.product-details .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  order: 2;
}

.product-details .image img {
  width: 80%;
  height: 100%;
  object-fit: cover;
}

/* Product Info */
.product-details-info {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  order: 3;
}

.product-info-container {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
}

.product-info-container-title {
  width: 130px;
  font-family: "abc";
  font-weight: 500;
  text-transform: uppercase;
  font-size: 10px;
}

.product-info-container-content {
  letter-spacing: 0.01em;
  font-size: 16px;
  font-family: "helvetica";
  font-weight: 100;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.product-info-container-ingredients {
  letter-spacing: 0.01em;
  font-size: 16px;
  font-family: "helvetica";
  font-weight: 100;
  display: flex;
  flex-direction: column;
  width: 100%;
  will-change: height;
  transition: height 0.3s ease;
}

.product-info-container-nitty {
  letter-spacing: 0.01em;
  font-size: 16px;
  font-family: "helvetica";
  font-weight: 100;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.product-info-button {
  width: fit-content;
  font-size: 8px;
  text-transform: uppercase;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 17px;
  padding: 4px 8px 1px;
  display: block;
  margin-top: 8px;
  z-index: 1;
  transition: all 0.3s ease;
  display: none;
}

.product-info-button:hover {
  background-color: black;
  color: white;
}

.product-info-button.show {
  display: block;
}

.product-info-container-ingredients-secondary {
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease, opacity 0.5s ease;
  opacity: 0;
}

.product-info-container-ingredients-secondary.show {
  height: fit-content;
  opacity: 1;
  margin-top: 16px;
}

/* Product Details Footer */
.product-details-footer {
  display: flex;
  gap: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-details-footer-border {
  width: 100%;
  height: 1px;
  background-color: black;
}

.product-details-footer-content {
  width: 100%;
  display: flex;
  gap: 24px;
  justify-content: space-between;
  align-items: center;
  font-family: "abc";
  font-weight: 500;
  text-transform: uppercase;
  font-size: 10px;
}

@media (max-width: 1024px) {
  .product-details-wrapper {
    padding-top: 135px;
  }

  .product-details {
    flex-direction: column;
    align-items: center;
  }

  .product-details-title {
    order: 2;
    gap: 24px;
    text-align: center;
    margin-bottom: 48px;
  }

  .product-details .image {
    order: 1;
  }

  .product-details-info {
    max-width: fit-content;
  }
}

@media (max-width: 450px) {
  .product-details-title h1 {
    font-size: 24px;
  }

  .product-details-info {
    gap: 12px;
  }

  .product-info-container {
    gap: 12px;
  }

  .product-info-container-content,
  .product-info-container-ingredients,
  .product-info-container-nitty {
    font-size: 12px;
    gap: 8px;
  }

  .product-info-container-ingredients-secondary.show {
    margin-top: 8px;
  }

  .product-details-footer-content {
    font-size: 8px;
  }
}
