nav {
  position: fixed;
  top: 0;
  width: 100vw;
  padding: 24px;
  background: transparent;
  display: flex;
  z-index: 1000;
  justify-content: space-between;
}

nav.overlay-open {
  color: white;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 64px;
  font-family: "helvetica";
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
}

.nav-links button {
  font-family: "helvetica";
  text-transform: uppercase;
  cursor: pointer;
}

.nav-link-items {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 64px;
}

.nav-item {
  position: relative;
}

.nav-item .hover-line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: grey;
  transition: all 0.3s ease;
}

.nav-item:hover .hover-line {
  width: 100%;
}

.nav-item:hover {
  color: grey;
}

.nav-actions {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
  border-radius: 30px;
  padding: 14px;
  display: flex;
  justify-content: space-between;
  transform: translateY(-35%);
}

.nav-actions.open {
  background-color: black;
  color: white;
}

.align-start {
  display: flex;
  align-items: start;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
}

.menu.open span {
  background-color: white;
}

.menu span {
  width: 18px;
  height: 1px;
  background: black;
  transition: transform 0.3s ease;
}

.menu.open .upper {
  transform: rotate(45deg) translateY(4px);
}

.menu.open .lower {
  transform: rotate(-45deg) translateY(-3.5px);
}

@media (max-width: 700px) {
  .nav-link-items {
    display: none;
  }
}
