@font-face {
  font-family: "abc";
  src: url("/public/fonts/ABCSocialMono-Regular.ttf");
}

@font-face {
  font-family: "futura";
  src: url("/public/fonts/Futura-Bold.ttf");
}

@font-face {
  font-family: "helvetica";
  src: url("/public/fonts/HelveticaNowText-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}

html *,
body * {
  cursor: none;
}

a {
  text-decoration: none;
  color: inherit;
}

*::selection {
  color: white;
  background: black;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  text-align: inherit;
  line-height: inherit;
}
